.List {
  background: #dfe3e6;
  flex-shrink: 0;
  width: 272px;
  height: fit-content;
  margin: 10px;
  margin-right: 0;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.List-Title {
  cursor: pointer;
  padding: 10px;
  overflow-wrap: break-word;
}

.Toggle-Add-Card {
  cursor: pointer;
  padding: 10px;
  color: #6b808c;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}

.Toggle-Add-Card:hover {
  background-color: rgba(9, 45, 66, 0.13);
  color: #17394d;
  width: 82%;
  text-decoration: none;
  margin:5px;
}

.Toggle-Add-Card ion-icon {
  margin-right: 2px;
}
.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Add-Card-icon{
  margin-right: 10px;
  color: #6b808c;
}
.dots-color{
  margin-right: 10px;
  color: #0000FF;
}

.lists__menu-btn {
  font-size: 1rem;
  padding: 4px 0px 4px 8px;
  margin-right:2px;
  border:none;
  background: #dfe3e6;
}
.lists__menu-btn4 {
  padding: 4px 0px 4px 8px;
  margin-right:2px;
  border:none;
  background: #dfe3e6;
}
.lists__menu-btn1 {
  font-size: 1rem;
  padding: 0px 2px 0px 2px;
  margin-left:10px;
  margin-bottom:5px;
  margin-right:6px;
  border-radius: 5px;
  border:1px solid #b2bec4;
  background: white;
  color:#0000FF;
}

.lists__menu-btn:hover {
  background-color: #b2bec4;
}

.lists__menu-dropdown {
  position: absolute;
  top: 95%;
  left: 40%;
  width: 15rem;
  z-index: 2;
  border: 1px solid gray;
  background-color: #ffffff;
  border-radius: 3px;
  border-color: #e3e3e7;
}

.lists__menu-dropdown1 {
  position: absolute;
  top: 35%;
  left: 50%;
  width: 15rem;
  z-index: 2;
  border: 1px solid gray;
  background-color: #ffffff;
  border-radius: 3px;
  border-color: #e3e3e7;
}

.lists__menu-title {
  color: #5E6C84;
  text-align: center;
  padding: 5px;
}

.lists__menu-title > hr {
  border: none;
  border-bottom: 1px solid #e3e3e7;
  margin-top: 5px;
}

.lists__menu-dropdown__options {
  list-style: none;
  color: #5E6C84;
}

.lists__menu-dropdown__options > li {
  padding: 3px;
}

.lists__menu-dropdown__options > li:hover {
  cursor: pointer;
  background-color: #e3e3e7;
}
.lists__menu {
  position: relative;
}

.Edit-Button-Cancel:hover{
  color: #5E6C84;
}
.btn1{
  width:full;
  background-color: #0083A3;
  margin:1em;
  padding:0.5em;
  color:white;
  border-radius: 3px;
}

